.search-bar {
    scrollbar-width: thin;
    scrollbar-color: #fff #ffffff;
}

/* Chrome, Edge, and Safari */
.search-bar::-webkit-scrollbar {
    display: none;
}

.search-bar::-webkit-scrollbar-track {
    position: relative;
    border-radius: 2rem;
    background: #F6F6F6;
}

.search-bar::-webkit-scrollbar-thumb {
    background-color: #3b3b3b;
    border-radius: 23px;
    border: 2px solid #3b3b3b;
}