@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::root {
    --font-base: 'Inter';
    --bg-color: #F6F6F6;
    --text-color: #290521;
    --accent-color: #FFD600;
    --gradient-color: linear-gradient(90deg, #7216F4 0%, #FFD600 100%);
    --button-primary-color: #7216F4;
    --button-secondary-color: #FFFFFF;
}